@charset "UTF-8";

.marketing-site-features {
  text-align: center;
  padding: 2rem;
  background-color: #EC655E;
}

.marketing-site-features .fa {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.marketing-site-features .marketing-site-features-title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
  .marketing-site-features {
    text-align: left;
  }
}

.marketing-site-features-headline {
  text-align: center;
}

.marketing-site-features-subheadline {
  margin-bottom: 2rem;
  text-align: center;
}

.feature {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.marketing-site-hero {
  background-color: #EC655E;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.marketing-site-hero.coop {
  background-color: #fff;
}
@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  color: #67675C;
  background-color: #fff;
}
  .marketing-site-hero-content .button.round.coop {
    color: #fff;
    background-color: #EC655E;
    }
.marketing-site-hero-content .button.round:hover {
  background-color: #B3D16C;
  color: #fff;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
  }
}
