@charset "UTF-8";

.molenlogo {
  min-height: 100vh;
}
.logo {
  max-width: 30%;
  display: block;
  margin: auto;
}
.topbar-sticky-shrink {
  padding: 2rem;
  transition: padding 0.25s ease;
  background: #2c3840;
}

.topbar-sticky-shrink .menu {
  background: #2c3840;
}

.is-stuck .topbar-sticky-shrink {
  padding: 1rem;
  transition: padding 0.25s ease;
}

[data-sticky] {
  width: 100%;
}

.topbar-sticky-shrink-header {
  padding: 2rem 0;
}
