@charset "UTF-8";

.featured-testimonials-section {
  background: #ffffff;
  padding: 2rem 1rem;
}

.featured-testimonials-section .featured-testimonials-container .orbit-previous {
  color: #0a0a0a;
  left: -1rem;
}

.featured-testimonials-section .featured-testimonials-container .orbit-next {
  color: #0a0a0a;
  right: -1rem;
}

.featured-testimonials-section .testimonial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.featured-testimonials-section .profile-pic {
  max-width: 100px;
  border-radius: 50%;
}

.featured-testimonials-section .featured-testimonials-quotation {
  margin-left: 1rem;
  margin-bottom: 0rem;
  padding: 1rem;
  position: relative;
}

.featured-testimonials-section .featured-testimonials-quotation::before {
  font-size: 5rem;
  color: #d6d6d6;
  position: absolute;
  top: -2.5rem;
  left: -1.5rem;
}

.featured-testimonials-section .featured-testimonials-quotation::after {
  font-size: 5rem;
  color: #d6d6d6;
  position: absolute;
  bottom: -4rem;
  right: -.5rem;
}

@media screen and (max-width: 39.9375em) {
  .featured-testimonials-section .featured-testimonials-quotation {
    margin-left: 0;
  }
}
